<h1>State Change</h1>
<p>các phương pháp được sử dụng</p>
<ul>
  <li>
    trigger - chấp nhận tên cho trình kích hoạt hoạt ảnh và một mảng trạng thái
    và các phương thức chuyển đổi để định cấu hình hoạt ảnh
  </li>
  <li>
    state - chấp nhận tên cho trạng thái và các kiểu sẽ được áp dụng có điều
    kiện khi ở trạng thái được chỉ định
  </li>
  <li>style - Các kiểu CSS sẽ được áp dụng</li>
  <li>
    transition - chỉ định cấu hình để chuyển đổi giữa các trạng thái khác nhau
    và hướng của nó
  </li>
  <li>
    animate - chỉ định thời lượng và bất kỳ thuộc tính hoạt ảnh css bổ sung nào
    chẳng hạn như nới lỏng
  </li>
</ul>
<img class="mb-2" src="assets/images/1.png" alt="" />
<app-state-change-demo></app-state-change-demo>
<h1>Enter Exit</h1>
<p>
  Angular cũng cung cấp một số bí danh hữu ích như: enter và: left để tạo hoạt
  ảnh cho các phần tử vào và rời DOM
</p>
<img class="mb-2" src="assets/images/2.png" alt="" />
<div><app-enter-exit-demo></app-enter-exit-demo></div>
